

/* FONT STUFF */


h1{
  font-weight: 300;
}


/* LOGIN PAGE STUFF */

.login-form{
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 10px;
}

.login-form p{
  font-size: 13px;
  margin-left: 200px;
}

.login-form .MuiButton-root{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 300px;
}

.login-form .MuiTextField-root{
  width: 250px;
  margin: 10px;
}

.login-page img{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* SIGN UP PAGE STUFF */

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 10px;
}


.sign-up-form .MuiButton-root{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.sign-up-form .MuiTextField-root{
  width: 250px;
  margin: 10px;
}


.sign-up-page-header img{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.sign-up-loader{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sign-up-loader p{
  margin-left: 10px;
}

/* APPBAR STUFF */

.appbar-container{
  display: flex !important;
  justify-content: flex-start !important;
  list-style: none !important;
  width: 100%;
  
}

.MuiButton-root {
  padding-top:30px;
}

.MuiAppBar-root{
  background-color: #A7D2CB !important;
}

.appbar-logo{
  margin: auto;
}
/* SEARCHBAR STUFF */

.search-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.MuiAutocomplete-root{
  width: 50%;
}

/* Add new recipe dialog */

.newRecipeSpecs1 {
  display: flex;
  flex-direction: row;
}

.newRecipeSpecs2 {
  display: flex;
  flex-direction: row;
}

.newRecipeSpecs3 {
  display: flex;
  flex-direction: row;
}

.form-inline {
  display: flex;
  flex-direction: row;
}


/* RECIPE GRID STUFF */

.recipe-grid{
  display: flex;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.MuiDivider-root{
  margin-top: 15px !important;
}

.recipe-card{
  height: 350px;
}

.MuiCardHeader-title{
  font-size: 22px !important;
}

/* Recipedialog CSS-Grid */

.recipeContainer {
  display: grid;
  margin: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(4, 4fr);
  /*TODO: Below line doesn't actually make the grid keep its size consistent, I don't think*/
  grid-template-rows: [first-line] 10% [second-line] 50% [third-line] 30% [fourth-line] auto [end];
}

.recipeTitle {
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.recipeSlides {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.recipeSpecs {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.recipeInstructions {
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.recipeIngredients {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.recipeFavorite {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
}

/* SUCCESSFULL REGISTRATION */

.success-register{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.success-register-image{
  width: 50%;
  display: inherit;
  flex-direction: column;
  height: 100%;
  background-color: #A7D2CB;
  justify-content: center !important;
  align-items: center !important;
}

.success-register-content{
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.success-register-content h1{
  margin-top: -150px;
  font-weight: 100;
}

.success-register-content p{
  margin-top: 20px;
}


.success-register-content img{
  height: 100px;
}

.recipe-img{
  height: 50%;
  width: 80%;
}

.recipe-logo{
  width: 400px;
}

.success-register-buttons{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.success-register-buttons .MuiButton-root{
  margin-top: 10px;
  width: 250px !important;
}

.profile-info{
  display: flex;
  flex-direction: row;
}